# : comments

# no .a files
*.a
*.zip
*.ini

# but do track lib.a, even though you're ignoring .a files above
!lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
/TODO

# ignore all files in the build/ directory
build/
x64/
NotchingGradeInsp_NotUseDLL_Test/
NotchingGradeInsp_NotUseDLL/.vs/
NotchingGradeInsp_NotUseDLL/Data/INDEX/
NotchingGradeInsp_NotUseDLL/마도\ HLI\ #1-1\ Data\ Folder/

# ignore doc/notes.txt, but not doc/server/arch.txt
doc/*.txt

# ignore all .pdf files in the doc/ directory
doc/**/*.pdf